name: Release

permissions:
  contents: write
  id-token: write

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: 'Version type (leave empty for auto)'
        required: false
        type: choice
        options:
          - ''
          - patch
          - minor
          - major
        default: ''

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      # 拉取代码
      - name: git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: setup
        uses: ./.github/actions/setup
      
      - name: build
        run: pnpm run build

      - name: release
        run: npx release-it ${{ github.event.inputs.version_type }} --verbose
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
