name: Release

permissions:
  contents: write
  id-token: write

on:
  workflow_dispatch:
    inputs:
      version_bump:
        description: 'Version type (leave empty for auto)'
        required: false
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: JxJuly/github-actions/setup-environment@v0.0.3
        with:
          run_install: |
            - args: [--frozen-lockfile]
      
      - name: Build
        run: pnpm run build

      - name: Release
        uses: JxJuly/github-actions/release-it@v0.0.3
        with:
          version-bump: ${{ github.event.inputs.version_bump }}
