name: Test Main

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: JxJuly/github-actions/setup-environment@v0.0.3
        with:
          run_install: |
            - args: [--frozen-lockfile]

      - name: test
        run: pnpm run test:cov
      
      - name: upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}